Communitext/node_modules/**/*
Communitext/.expo/*
Communitext/npm-debug.*
Communitext/*.jks
Communitext/*.p8
Communitext/*.p12
Communitext/*.key
Communitext/*.mobileprovision
Communitext/*.orig.*
Communitext/web-build/
.expo/*
myPal_client/node_modules/**/*
myPal_client/.expo/*
myPal_client/npm-debug.*
myPal_client/*.jks
myPal_client/*.p8
myPal_client/*.p12
myPal_client/*.key
myPal_client/*.mobileprovision
myPal_client/*.orig.*
myPal_client/web-build/
# macOS
.DS_Store
Communitext/.DS_Store
